body 
{
    color: blue;
    text-align: center;
    font-family: monospace;
}

.cabecera 
{
    background-color: red;
    width: auto;
    font-family: 'Gill Sans';
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 15px 15px 0 0 ;
    height: 30px;
}

.container 
{
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aquamarine;
    border-radius: 1rem;
}

.post
{
    padding-bottom: 10px;
}