body 
{
    color: blue;
    text-align: center;
    font-family: monospace;
}

.cabecera 
{
    background-color: red;
    width: auto;
    
    font-family: 'Gill Sans';
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: auto;
    border-radius: 20px;

}

.container 
{
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 1rem;
}