body 
{
    color: blue;
    text-align: center;
    font-family: monospace;
}

.container 
{
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 1rem;
}